Source: trojan-ui
Section: unknown
Priority: optional
Maintainer: xiamengliang <xiamengliang@gmail.com>
Build-Depends: debhelper (>= 11)
Standards-Version: 4.1.3
Homepage: https://github.com/qiuzhiqian
#Vcs-Browser: https://salsa.debian.org/debian/trojan-ui
#Vcs-Git: https://salsa.debian.org/debian/trojan-ui.git

Package: trojan-ui
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: a trojan ui tools
 This is a trojan ui tool written in rust
