[Desktop Entry]
Type=Application
TryExec=trojan_ui
Exec=trojan_ui
Icon=trojan_ui
Terminal=false
Name=Trojan UI
Name[zh_HK]=Trojan工具箱
Name[zh_CN]=Trojan工具箱
GenericName=Trojan ui tools
Comment=A ui tools for trojan client proxy